version: "3"

services:
  db:
    image: postgres:12-alpine
    container_name: twocan_db
    ports:
      - "5432:5432"
    volumes:
      - ./sql/twocan.sql:/docker-entrypoint-initdb.d/twocan.sql
    environment:
      - PGDATA=/srv/data
      - POSTGRES_PASSWORD=${PGPASSWORD}
